.products-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 90px 0;
  @media only screen and (max-width: 768px) {
    padding: 20px 0;
  }

  .product {
    &:not(:first-child) {
      &:hover {
        border: 1px solid #f05323;
        cursor: pointer;
      }
    }
    border: 1px solid transparent;

    &.see-all {
      height: 70%;
      .text {
        h2 {
          font-size: 35px;
          width: 50%;
          line-height: 50px;
        }
      }
      button {
        cursor: pointer;

        font-family: Firago;
        background-color: #fff;
        border: 0;
        outline: none;
        width: 100%;
        font-size: 20px;
        text-align: left;
        position: relative;
        padding: 30px;
        transition: 200ms;
        &:hover {
          transform: scale(1.03);
        }
        i {
          background-color: #f05323;
          position: absolute;
          right: 0;
          bottom: 0;
          padding: 30px;
          font-size: 20px;
          border-radius: 0 0 8px 0;
          color: #fff;
        }
      }
    }
    text-align: center;
    margin: 0;

    border-radius: 8px;
    img {
      width: 45%;
      height: 200px;
      object-fit: contain;
    }
    .text {
      text-align: left;
      padding: 50px 30px;
    }
    ul {
      padding: 0;
      font-family: Firago;
    }
    h2 {
      font-size: 20px;
    }
  }
}
