.products-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 90px 0;

  .product {
    &.see-all {
      height: 70%;
      .text {
        h2 {
          font-size: 35px;
          width: 50%;
          line-height: 50px;
        }
      }
      button {
        font-family: Firago;
        background-color: #fff;
        border: 0;
        outline: none;
        width: 100%;
        font-size: 20px;
        text-align: left;
        position: relative;
        padding: 30px;
        i {
          background-color: #f05323;
          position: absolute;
          right: 0;
          bottom: 0;
          padding: 30px;
          font-size: 20px;
          border-radius: 0 0 8px 0;
          color: #fff;
        }
      }
    }
    text-align: center;
    margin: 15px;
    box-shadow: 0px 21px 85px 0px rgba(240, 83, 35, 0.09);
    border-radius: 8px;
    img {
      width: 45%;
    }
    .text {
      text-align: left;
      padding: 50px 30px;
    }
    ul {
      padding: 0;
      font-family: Firago;
    }
    h2 {
      font-size: 20px;
    }
  }
}
