@import "_fonts.scss";
html,
body {
  font-family: Glaho;
  margin: 0;
  position: relative;
  padding: 0;
  li {
    list-style-type: none;
  }
}

.hidden {
  display: none;
  @media only screen and (max-width: 768px) {
    display: block;
  }
}

.hide {
  display: block;
  @media only screen and (max-width: 768px) {
    display: none !important;
  }
}
.container {
  width: 92vw;
  margin: auto;
}

.main-button {
  font-family: Firago;
  cursor: pointer;
  background-color: rgba(240, 83, 35, 0.2);
  color: #f05323;

  border: 0;
  outline: 0;
  padding: 18px 45px;
  border-radius: 10px;
  transition: 0.5s all ease;
  &:hover {
    color: #fff;
    background-color: #f05323;
  }
  &.dark {
    color: #fff;
    background-color: #f05323;

    &:hover {
      background-color: rgba(240, 83, 35, 0.2);
      color: #f05323;
    }
  }
}

.partners {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 90px 0;
  img {
    filter: grayscale(100%);
    height: 75px;
    width: 100%;
    transition: 100ms;
    object-fit: contain;
    &:hover {
      filter: grayscale(0%);
      cursor: pointer;
      transform: scale(1.3);
    }
  }
}

.sizesContainer {
  select {
    display: none;
  }
  a.active {
    opacity: 1;
    color: #000;
    background: #ffe0e0;
    border: 2px solid #f05323;
  }
  a.outStock {
    opacity: 0.3;
  }
  a {
    font-size: 15px;
    font-family: Firago;
    display: inline-block;
    text-align: center;
    height: 30px;
    line-height: 30px;
    min-width: 30px;
    padding: 0 45px;
    margin: 5px 4px;
    border: 2px solid #eaeaea;
    text-decoration: none;
    color: #000;
    border-radius: 5px;
    height: 35px;
    min-width: 35px;
    line-height: 35px;
  }
}

@import "_footer.scss";
@import "_fullProduct.scss";
@import "_contact.scss";
@import "_shop.scss";
@import "_about.scss";
@import "_products.scss";
@import "_banner.scss";
@import "_header.scss";
